.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 550px;
}

.previewImage {
  height: 1px;
  width: 1px;
  border-radius: 16px;
  border: 1px solid var(--border-color);
}

.mintInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 280px;
  max-width: 95vw;
  gap: 2%;
  
}

.infoSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.description {
  opacity: 0.7;
  font-size: 1rem;
}

.imageSide {
  width: 100%;
  height: 100%;
  align-items: center;
}

.image {
  width: 85%;
  border-radius: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
}

.mainButton {
  background-color: #4949aa !important;
  color: #c54848 !important;
}

.mainButton:hover {
  opacity: 0.8;
}


.mintCompletionArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.mintAreaLeft {
  margin-left: 5%;
  opacity: 0.75;
}

.mintAreaRight {
  margin-right: 5%;
  opacity: 0.75;
}

.spacerTop {
  margin-top: 16px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.buttonGapTop {
  cursor: pointer;
  margin-top: 32px;
}

.quantityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap:10%
}

.mintContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-top: 24px;
}

.textInput {
  width: 48px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  color: #fff;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
}

.quantityControlButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: transparent;
  border: 0px solid grey;
  color: #fff;
}

.quantityControlButton:disabled {
  opacity: 0.25;
}

/* On mobile, make the .mintInfoContainer stack vertically */
@media screen and (max-width: 850px) {
  .mintInfoContainer {
    flex-direction: column;
    padding-bottom: 5%;
  }

  .infoSide {
    width: 100%;
  }

  .imageSide {
    width: 100%;
  }
}

.myWeb3ButtonClass {
  background-color: #c22ab5 !important;
}

.mintContainer > button {
  background: #FF4429 !important;
  color: #000000 !important;
  min-height: 46px !important;
  width: 180px;
  border-radius: 24px !important;
  transition-duration: 0.4s !important;
  box-shadow: 0 8px 11px 0 rgba(207, 207, 207, 0.199), 0 6px 11px 0 rgba(0,0,0,0.19) !important;
}

.mintContainer > button:hover {
  color: #ffffff !important;
  background: #272727 !important;
}